{extend name="common/main"/}

{block name="body"}
<div class="member-list-section">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>Message Queue  <small>(# It is recommended to use php think queue:listen during development and testing. # For production environments, it is recommended to use php think queue:work, ideally with supervisor.)</small></h2>
    </div>

    <section class="data-table with-padding clearfix">
        {notempty name="lists.data"}
        <table class="table table-bordered table-striped table-hover muu-table " id="table-data">
            <thead>
            <tr>
                <th width="40">
                    <input class="check-all" id="check-all" type="checkbox">
                    <label for="check-all"></label>
                </th>
                <th>ID</th>
                <th>Class/Method</th>
                <th>Parameters</th>
            </tr>
            </thead>
            <tbody>
            {foreach $lists.data as $k=>$v}
            <tr>
                <td>
                    <input class="ids" id="see_{$k}" name="ids[]" type="checkbox" value="{$k}">
                    <label for="see_{$v['id']}"></label>
                </td>
                <td>{$v['id']}</td>
                <td class="products" style="width: 600px">
                    {$v['job']}
                </td>
                <td>
                    {$v['json']}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {else /}
        {include file='common/_empty'}
        {/notempty}
    </section>
    <div class="page-section">
        {:htmlspecialchars_decode($pager)}
    </div>
</div>

{/block}

{block name="script"}

{/block}