.payment-section {

    .pay-weixin {
        .pay-info {
            text-align: center;
            background-color: #f2f2f2;
            padding: 10px 0;
            .order-no {
                color: #000;
                font-weight: 600;
                font-size: 18px;
            }
            .paid-fee {
                color: #f60;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .qrcode {
            width: 260px;
            margin: 30px auto 0 auto;
            img {
                width: 260px;
                height: 260px;
            }
        }
        .tip {
            width: 260px;
            margin: 10px auto 80px auto;
            img {
                width: 260px;
            }
        }
    }
}