{extend name="common/main"/}

{block name="body"}
<div class="main-title">
    <h2>Browsing  History</h2>
</div>
<div class="button-box row clearfix">

    <div class="col-md-8">
        <a type="button" class="btn btn-info" href="{:url('admin/extend/payment')}">Withdrawal Settings</a>
    </div>

    <!-- 高级搜索 -->
    <div class="search-form col-md-4">
        <form action="" method="get" class="form-horizontal">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control" value="{$order_no}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="with-padding">
    {if empty($lists.data)}
    {include file='common/_empty'}
    {else}
    {foreach $lists.data as $k=>$v}
    <div class="withdraw-lists-item">
        <div class="base-info">
            <span class="">Order No：{$v['order_no']}</span>
            <span class="">
	            Paid Time：{$v['paid_time_str']}
	        </span>
            {if !empty($v.uid) && !empty($v.user_info) && $v.user_info != -1}
            <span class="">
	            User：<a href="{:url('admin/member/detail',['uid' => $v['uid']])}">{$v['user_info']['nickname']}</a>
	        </span>
            {/if}
            <span class="pull-right text-right">

	        </span>
        </div>
        <table class="table table-bordered muu-table">
            <thead>
            <tr>
                <th>User</th>
                <th>Withdrawal Amount</th>
                <th>Withdrawal Status</th>
                <th>Application Time</th>
                <th>Completion Time</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="width: 300px">
                    {if !empty($v.uid) && !empty($v.user_info) && is_array($v.user_info)}
                    <a class="user-info" href="{:url('admin/Member/detail',['uid'=>$v['uid']])}">
                        <div class="avatar">
                            <img src="{$v['user_info']['avatar64']}">
                        </div>
                        <div class="info text-ellipsis">
                            <div class="uid">uid：{$v.user_info.uid|default=0}</div>
                            <div class="nickname">{$v.user_info.nickname|default=""}</div>
                        </div>
                    </a>
                    {else}
                    User does not exist
                    {/if}
                </td>
                <td>
                    <span class="text-danger">￥ {$v['price']}</span>
                </td>
                <td>
                    <div class="">
                        {if $v['paid'] == 1}
                        <span class="paid-status text-success">{$v['paid_str']}</span>
                        <span class="paid-status text-success">（{$v['error_str']}）</span>
                        {else}
                        <span class="paid-status text-danger">（{$v['error_str']}）</span>
                        {/if}
                    </div>
                </td>
                <td>
                    {$v['create_time_str']}
                </td>
                <td>
                    {$v['paid_time_str']}
                </td>
                <td style="width: 150px">
                    <a class="btn btn-sm btn-info" data-remote="{:url('detail', ['id'=>$v['id']])}" data-toggle="modal">
					    Details
				    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {/foreach}
    {/if}
</div>
<div class="page-section">
    {:htmlspecialchars_decode($pager)}
</div>


<script>

</script>
{/block}

{block name="script"}

{/block}