{extend name="../../admin/view/common/main"/}
{block name="style"}
<link href="__ADMIN_CSS__/main.min.css" type="text/css" rel="stylesheet">
{/block}

{block name="body"}

<div class="main-title">
	<h2>Settlement List</h2>
</div>

<div class="search-box clearfix margin-bottom row">

	<form action="{:url('article', array('action'=> 'lists'))}" method="get" class="search-form" role="form">
		<div class="col-sm-3">
			<div class="input-group">
				<div class="input-control search-box has-icon-left has-icon-right search-example" id="searchboxExample">
				<input class="form-control" name="keyword" placeholder="Keyword" id="" type="text" value="{$keyword}">
				<label for="inputSearchExample4" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
				</div>
				<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Search</button>
				</span>
			</div>
		</div>
	</form>
</div>

<div class="margin-bottom">
    <a class="btn btn-info" href="{:url('settle')}">Settlement List</a>
    <a class="btn" href="{:url('orders')}">Unsettled Orders</a>
</div>

<section class="with-padding clearfix">

	<div class="item-section">
		{if empty($lists.data)}
		{include file="../../common/view/empty"/}
		{else /}
		<table class="table muu-table">
			<thead>
				<tr>
					<th width="40">
						<input type="checkbox" class="check-all" id="check-all">
						<label for="check-all"></label>
					</th>
					<th>分账单号</th>
					<th>Order No.</th>
					<th>平台分账单号</th>
					<th>金额（元）</th>
					<th>Create Time</th>
					<th>Update Time</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{foreach $lists.data as $k => $v}
				<tr>
					<td>
						<input type="checkbox" class="ids" name="ids[]" id="a_{$v['id']}" value="{$v['id']}">
						<label for="a_{$v['id']}"></label>
					</td>
					<td>
						{$v['settle_no']}
					</td>
					<td>
						{$v['order_no']}
					</td>
					<td>
						{$v['douyin_settle_no']}
					</td>
					<td>
						<span class="yuan">￥</span>
						<span class="price">
							{$v['price']}
						</span>
					</td>
					<td>
						{$v['create_time_str']}
					</td>
					<td>
						{$v['update_time_str']}
					</td>
					<td>
						{$v['status_str']}
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
		{/if}
	</div>
</section>
	
<div class="page-section">
	{:htmlspecialchars_decode($pager)}
</div>

{/block}
{block name="script"}

{/block}
