{extend name="common/main"/}

{block name="body"}
<div class="announce-list-section">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>Announcement Management</h2>
    </div>
    <div class="button-box row clearfix">

        <div class="col-md-8">
            <a type="button" class="btn btn-info" href="{:url('edit')}">
                Add
            </a>
            <button class="btn btn-success ajax-post" url="{:url('status', ['status'=> 1])}" target-form="ids">
                Enable
            </button>
            <button class="btn btn-warning ajax-post" url="{:url('status', ['status'=> 0])}" target-form="ids">
                Disable
            </button>
            <button class="btn btn-danger ajax-post confirm" url="{:url('status', ['status'=> -1])}" arget-form="ids">
                Delete
            </button>
        </div>

        <!-- 高级搜索 -->
        <div class="search-form col-md-4">
            <form action="" method="get" class="form-horizontal">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" value="{$keyword}">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table with-padding">
        {notempty name="lists.data"}
        <table class="table table-bordered table-striped muu-table">
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input type="checkbox" class="check-all" id="check-all">
                        <label for="check-all"></label>
                    </th>
                    <th class="">{:lang('ID')}</th>
                    <th class="">Announcement Ttile</th>
                    <th class="">Type</th>
                    <th class="">Sort</th>
                    <th class="">Release Time</th>
                    <th class="">Update Time</th>
                    <th class="">Status</th>
                    <th class="">Action</th>
                </tr>
            </thead>
            <tbody>
            {volist name="lists.data" id="vo"}
                <tr>
                    <td>
                        <input class="ids" id="announce-{$vo.id}" type="checkbox" name="ids[]" value="{$vo.id}"/>
                        <label for="announce-{$vo.id}"></label>
                    </td>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>{$vo.type_str}</td>
                    <td>{$vo.sort}</td>
                    <td>{$vo.create_time_str}</td>
                    <td>{$vo.update_time_str}</td>
                    <td>
                        {if $vo.status == 1}
                        <span class="label label-success">{$vo.status_str}</span>
                        {/if}
                        {if $vo.status == 0}
                        <span class="label label-warning">{$vo.status_str}</span>
                        {/if}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{:url('edit',['id'=>$vo['id']])}" >Edit</a>
                        {if $vo['status'] == 1}
						<a href="{:url('status', ['ids'=>$vo['id'],'status'=> 0])}" class="btn btn-sm btn-warning ajax-get">Disable</a>
                        {/if}
						{if $vo['status'] == 0}
						<a href="{:url('status', ['ids'=>$vo['id'],'status'=> 1])}" class="btn btn-sm btn-info ajax-get">Enable</a>
                        {/if}
                        <a class="btn btn-sm btn-danger ajax-post" href="{:url('status',['status'=>-1, 'ids'=>$vo['id']])}" data-confirm="Are you sure you want to delete this?">Delete</a>
                    </td>
                </tr>
            {/volist}
            
            </tbody>
        </table>
        {else/}
        {include file="common/_empty"/}
        {/notempty}
        <!-- 分页 -->
        <div class="page">
            {:htmlspecialchars_decode($pager)}
        </div>
        <!-- /分页-->
    </div>
</div>
{/block}
{block name="script"}
<script>
$(function(){

    //搜索功能
    $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function (e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
});
</script>   
{/block}