{extend name="common/main"/}

{block name="body"}
	<div class="main-title cf">
		<h2>View Action Log</h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap with-padding">
		<div class="tab-content">
			<!-- 表单 -->
			<form id="form" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item cf">
						<label class="item-label">Action Name</label>
						<div class="controls">
							<span>{:get_action($info['action_id'], "title")}</span>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">Executor</label>
						<div class="controls">
							<span>{:get_nickname($info['uid'])}</span>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">Execution IP</label>
						<div class="controls">
							<span>{:long2ip($info['action_ip'])}</span>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">Execution Time</label>
						<div class="controls">
							<span>{:date('Y-m-d H:i:s',$info['create_time'])}</span>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">Remarks</label>
						<div class="controls ">
							<textarea readonly="readonly" class="form-control form-text-area-size">{$info.remark}</textarea>
						</div>
					</div>
				</div>

				<!-- 按钮 -->
				<div class="form-item cf">
					<label class="item-label"></label>
					<div class="controls edit_sort_btn">
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">Back</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{/block}
{block name="script"}

{/block}

