<form action="{:url('verify')}" method="post" class="form-horizontal ajax-form" role="form">
    <input type="hidden" name="id" value="{$id}" />
    <div class="form-group">
        <label class="col-sm-2">Status</label>
        <div class="col-sm-8">
            <div class="" style="padding-top:7px">
                <input type="radio" name="status" id="is_status-1" value="1" checked> 
                <label class="radio-inline" for="is_status-1">通过审核</label>
                <input type="radio" name="status" id="is_status--2" value="-2">
                <label class="radio-inline" for="is_status--2"> 拒绝通过</label>
            </div>
        </div>
    </div>

    <div class="form-group hidden" id="verifyReason">
        <label class="col-sm-2">Rejection Reason</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="3" name="reason" placeholder="Please Enter the Reason for Rejection">{$data['reason']}</textarea>
            <div class="help-block">Please Enter the Reason for Rejection</div>
        </div>
    </div>
    <script>
        $(function(){
            $("input[type='radio']").on("click",function () {
                if($("input[id='is_status--2']:checked").val()=="-2"){
                    $('#verifyReason').removeClass('hidden');
                }else{
                    $('#verifyReason').addClass('hidden');
                }
            })
        })
    </script>
    <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-sm-8">
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>