<form action="" method="get" class="header-search-popup" role="form">
    <div class="input-group input-control search-box has-icon-left">
        <input type="text" class="form-control search-input" placeholder="请输入搜索关键字" name="keyword" value="{$keyword|default=''}">
        <label for="inputSearchExample1" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
</form>