{extend name="common/main"/}

{block name="body"}

    <div class="main-title">
        <h2>Data Backup</h2>
    </div>

    <div class="with-padding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="200">Backup Name</th>
                    <th width="80">Volume</th>
                    <th width="80">Compression</th>
                    <th width="80">Data Size</th>
                    <th width="200">Backup Time</th>
                    <th>Status</th>
                    <th width="120">Action</th>
                </tr>
            </thead>
            <tbody>
                {volist name="list" id="data"}
                    <tr>
                        <td>{$data.time}</td>
                        <td>{$data.part}</td>
                        <td>{$data.compress}</td>
                        <td>{$data.size|format_bytes}</td>
                        <td>{$key}</td>
                        <td>-</td>
                        <td class="action">
                            <a class="db-import" href="{:url('import?time='.$data['time'])}">Restore</a>&nbsp;
                            <a class="ajax-get confirm" href="{:url('del?time='.$data['time'])}">Delete</a>
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
    </div>

{/block}

{block name="script"}
    <script type="text/javascript">
        $(".db-import").click(function(){
            var self = this, status = ".";
            $.get(self.href, success, "json");
            window.onbeforeunload = function(){ return 'Restoring the database, please do not close the page!' }
            return false;
        
            function success(data){
                if(data.code){
                    if(data.gz){
                        data.msg += status;
                        if(status.length === 5){
                            status = ".";
                        } else {
                            status += ".";
                        }
                    }
                    $(self).parent().prev().text(data.msg);
                    if(data.data.part){
                        $.get(self.href, 
                            {"part" : data.data.part, "start" : data.data.start}, 
                            success, 
                            "json"
                        );
                    }  else {
                        window.onbeforeunload = function(){ return null; }
                    }
                } else {
                    updateAlert(data.msg,'alert-error');
                }
            }
        });
    </script>
{/block}