<!-- 分享对话框HTML -->
<div class="modal fade" id="shareModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title"></h4>
		    </div>
            <div class="modal-body">
                <div class="text-center share">
                    
                    <div>
                        <h3>WeChat QR Code Preview</h3>
                    </div>
                    <div class="qrcode-section">
                        <div class="item">
                            <img src="/static/common/images/60x60.png" class="all"/>
                        </div>
                    </div>
                    
                    <div class="url">
                        <div class="input-group all-url">
                            <span class="input-group-addon">HTML</span>
                            <input type="text" class="form-control h5-url">
                            <span class="input-group-btn">
                              <button class="btn btn-warning" data-role="copy-url" type="button">Copy</button>
                              <button class="btn btn-info" data-role="jump-url" type="button">Link to</button>
                            </span>
                        </div>
                    </div>
                    <!-- <div class="url">
                        <div class="input-group all-url">
                            <span class="input-group-addon">PC端</span>
                            <input type="text" class="form-control pc-url">
                            <span class="input-group-btn">
                              <button class="btn btn-warning" data-role="copy-url" type="button">Copy</button>
                              <button class="btn btn-info" data-role="jump-url" type="button">Link to</button>
                            </span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){

    // 预览按钮点击事件
    $('[data-target="#shareModal"]').click(function(e){
        var id = $(this).data('id');
        var title = $(this).data('title');
        $('#shareModal .modal-title').text(title);
        //新版url
        var all_qrcode_url = $(this).data('h5-url');
        	all_qrcode_url = encodeURIComponent(all_qrcode_url);
        var all_qrcode_src = "{:url('api/qrcode/create')}?url=" + all_qrcode_url;
        //新版二维码地址
         $('#shareModal .modal-body img.all').attr('src',all_qrcode_src);
        //新版url地址
        var h5_text_url = $(this).data('h5-url');
        $('#shareModal .modal-body input.h5-url').attr('value',h5_text_url);
        var pc_text_url = $(this).data('pc-url');
        $('#shareModal .modal-body input.pc-url').attr('value',pc_text_url);
    });

    //复制文本
    $('[data-role="copy-url"]').click(function(e){
        var oInput = $(this).parent().parent().find('input');
        console.log(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        toast.success('复制成功', 'success');
    });

    //Link to
    $('[data-role="jump-url"]').click(function(e){
        var oInput = $(this).parent().parent().find('input').val();
        window.open(oInput);return false;
    });
});
</script>