<!DOCTYPE HTML>
<html>

<head>
    {include file="../../common/view/head"/}
</head>

<body>
    <div id="main-container" class="container" style="width:500px;height:500px;">

        <div class="login-pages">
            <div class="logo">
                <h3>
                    <a href="{:url('muu/index/index')}">
                        <img src="{$muu_config_data.WEB_SITE_LOGO_ORIGIN}" alt="{$muu_config_data.WEB_SITE_NAME}">
                    </a>
                    <span>登录</span>
                </h3>
            </div>
            <div class="login-body clearfix">
                <div class="login-picture">
                    <img src="__STATIC__/common/images/login-Picture.png" alt="">
                    <img class="character" src="__STATIC__/common/images/character.png" alt="">
                </div>
                <div class="login-form">
                    {include file="common/quick_login"/}
                </div>
            </div>
            <div class="filing">
                    
            </div>
        </div>
    </div>
    {include file="../../common/view/js"/}
</body>

</html>