/*课程预览二维码页*/
#shareModal {

	.modal-body {

		.share {
			h3 {
				margin: 0;
			}
			img {
				display: block;
				width: 260px;
				height: 260px;
				margin: 10px auto;
			}
			.wx-url {
				
			}
		}
	}
}