<form action="{:url('admin/module/uninstall')}" method="post" class="form-horizontal uninstall-form ajax-form" role="form">
    <div class="title">Are you sure you want to uninstall this module?</div>
    <div class="form-body">
        <input type="hidden" name="id" value="{$module['id']}">
        <div class="form-group">
            <label class="control-label">UID</label>
            <div class="">
                <input type="hidden" name="name" value="{$module['name']}">
                <p class="form-control-static">{$module.name}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Module Name</label>
            <div class="">
                <p class="form-control-static">{$module.alias}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Keep data</label>
            <div class="">
                <p class="form-control-static">
                    <input id="id_withoutData_1" name="withoutData" value="1" type="radio" checked="">
                    <label for="id_withoutData_1"> Yes</label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="id_withoutData_0" name="withoutData" value="0" type="radio">
                    <label for="id_withoutData_0"> No</label> &nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block btn-danger">Uninstall</button>
            <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>