{extend name="common/main"/}

{block name="body"}
<div class="main-title">
    <h2>Browsing  History</h2>
</div>

<div class="search-box clearfix margin-bottom row">
    <form action="" method="get" class="search-form" role="form">
        <div class="col-sm-2">
            <select name="app" class="form-control">
                <option value="all">All Module</option>
                {volist name="all_module" id="row"}
                {if $app == $row['name']}
                <option selected value="{$row['name']}">{$row['alias']}</option>
                {else}
                <option value="{$row['name']}">{$row['alias']}</option>
                {/if}
                {/volist}
            </select>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <div class="input-control search-box has-icon-left has-icon-right search-example" id="searchbox">
                    <input class="form-control" name="uid" placeholder="UserID" id="" type="text" value="{$uid}">
                    <label for="searchbox" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                </div>
                <span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Search</button>
				</span>
            </div>
        </div>
    </form>
</div>

<div class="data-table with-padding">
    <section class="see-list-section clearfix">
        {notempty name="lists"}
        <table class="table table-bordered table-striped table-hover muu-table " id="table-data">
            <thead>
            <tr>
                <th width="40">
                    <input class="check-all" id="check-all" type="checkbox">
                    <label for="check-all"></label>
                </th>
                <th>ID</th>
                <th>Product</th>
                <th>User</th>
                <th>Module</th>
                <th>Access Time</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {foreach $lists as $k=>$v}
            <tr>
                <td>
                    <input class="ids" id="see_{$v['id']}" name="ids[]" type="checkbox" value="{$v['id']}">
                    <label for="see_{$v['id']}"></label>
                </td>
                <td>{$v['id']}</td>
                <td class="products" style="width: 600px">
                    <div class="cover">
                        <img src="{$v['products']['cover_100']}">
                    </div>
                    <div class="info">
                        <div class="title text-ellipsis">{$v['products']['title']|default=''}</div>
                        {if isset($v['products']['desc'])}
                        <div class="description text-ellipsis-2">{$v['products']['desc']|default=''}</div>
                        {/if}
                    </div>
                </td>
                <td style="width: 300px">
                    {if !empty($v.uid) && !empty($v.user_info) && $v.user_info != -1}
                    <a class="user-info" href="{:url('admin/Member/detail',['uid'=>$v['uid']])}">
                        <div class="avatar">
                            <img src="{$v['user_info']['avatar64']}">
                        </div>
                        <div class="info">
                            <div class="nickname text-ellipsis">[{$v.uid|default=0}]{$v.user_info.nickname|default=""}</div>
                        </div>
                    </a>
                    {else}
                    The user has been deleted
                    {/if}
                </td>
                <td>{$v['module_name']}</td>
                <td>{$v['create_time_str']}</td>
                <td style="width: 150px">
                    <a href="{:url('status',['ids'=>$v['id'], 'status'=> -1])}" data-confirm="Are you sure you want to delete this?" class="btn btn-sm btn-danger ajax-get"><i class="fa fa-times"></i> Delete</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {else/}
        {include file="common/_empty"/}
        {/notempty}
    </section>
    <div class="page-section">
        {:htmlspecialchars_decode($pager)}
    </div>
</div>
{/block}

{block name="script"}

{/block}