
.announce-edit-section {


    .link-to {

        .link-to-left {
            width: 160px;
            float: left;
        }

        .link-to-right {
            margin-left: 170px;
        }
    }
}