.see-list-section {
	table {
		td .cover {
			float: left;
			width: 80px;
			margin-right: 10px;
			img {
				border-radius: 6px;
			}
		}
		td .info {
			margin-left: 90px;
			font-size: 14px;
			width: 300px;
			overflow: hidden;
			.title {
				font-size: 16px;
				font-weight: 600;
				line-height: 32px;
				color: #000;
			}
			.description {
				color: #666;
			}
		}
	}
}