/*消息发送列表*/
.keywords-list-section {

    .user-info {
        display: block;
        .avatar {
            float: left;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .nickname {
            margin-left: 60px;
            padding-left: 10px;
            line-height: 60px;
        }
        
    }
}