.member-list-section {
    table {
        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            float: left;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .title {
            height: 60px;
            line-height: 60px;
            float: left;
            margin-left: 10px;
        }
    }
}
.member-detail-section {

    .base {
        .base-box {
            padding: 10px;
            .avatar {
                margin: 20px auto;
                width: 128px;
                img {
                    width:128px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            .uid {
                text-align: center;
            }
            .nickname {
                text-align: center;
                font-size: 20px;
                font-weight: 600;
            }
            .message {
                margin: 20px 0;
            }
            .other-info {
                .form-file {
                    border-radius: 6px;
                    background-color: #f2f2f2;
                    border: 1px solid #eee;
                    margin: 10px 0;
                    padding: 5px 6px;
                    line-height: 22px;
                    .form-label {
                        color: #666;
                        
                    }
                    .form-value {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
        }
        
    }
    .detail-files-box {
        .form-files-box {
            line-height: 1;
            
            padding: 10px;
            .header {
                font-weight: 600;
                font-size: 18px;
                padding: 10px;
            }
            .form-file {
                position: relative;
                display: flex;
                align-items: center;
                padding: 14px;
                border-bottom: 1px solid #e8e9eb;
                color: #4c4c4c;
                line-height: 32px;
                .form-label {
                    width: 130px;
                    flex: 0 0 130px;
                    text-align: left;
                    font-size: 14px;
                }
                .form-value {
                    flex: 1;
                    text-align: left;
                    color: #999;
                    .logo, .avatar {
                        margin: 10px auto;
                        width: 64px;
                        img {
                            width:64px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
                .form-edit {
                    width: 120px;
                    text-align: right;
                }
            }
        }
    }

}

.choose-user-body{
    .user-search{
        padding: 20px;
    }
    .user-section{
        padding: 0 14px;
        .user-item {
            float: left;
            width: 172px;
            margin: 6px;
            padding: 5px;
            border: 1px solid #eee;
            cursor: pointer;
            height: 62px;
        }
        .user-avatar {
            float: left;
            width: 50px;
            height: 50px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        .user-nickname {
            margin-left: 60px;
            line-height: 28px;
        }
    }
    .user-section::after {
        content: '';
        flex: auto;
    }
    .page{
        padding-left: 20px;
    }
}
