.module-list {


    .item {
        width: 300px;
        float: left;

        .module-list-box {
            margin: 10px;
            .card {
                border: 1px solid #eee;
                background:#f7f7f7;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1);
                border-radius: 2px;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
            
                &:hover {
                -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
                -webkit-transform: translate3d(0, -2px, 0);
                -moz-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                }
                .media-wrapper {
                    background:#f7f7f7;
                    margin-top: 15px;
                
                    .cover-icon {
                        text-align: center;
                        border-radius:6px;
                        width:105px;
                        height:105px;
                        margin:0 auto;
                        img{
                            width: 100%;
                            border-radius:10%;
                        }
                    }
                }
                .content .title {
                    margin-bottom: 6px;
                    text-align: center;
                    h3 {
                      font-size: 16px;
                      font-weight:600;
                    }
                    a {
                      font-size: 16px;
                      color: #333;
                    }
                }

                .app-action{
                    display: flex;
                    .go{
                        flex: 1;
                    }
                    .upgrade{
                        width: 72.95px;
                        margin-left: 5px;
                    }
                } 
            
                .app-manage {
                    margin-top: 5px; 
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;
                    justify-content: space-between;
                    .btn {
                        display: block;
                        
                    }
                    .btn-warning {
                        flex: 1;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

.module-menu {

    .menu-header {
        margin-bottom: 10px;
    }
}

.uninstall-form {

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
}