<!-- 管理员用户组新增和编辑页面 -->
{extend name="common/main" /}
{block name="body"}
    <div class="main-title">
        <h2>Frontend Access Authorization</h2>
    </div>
	<div class="with-padding">

        <div class="tab-wrap rows clearfix">
            <div class="col-xs-10">
                <ul class="nav nav-pills">
                    <li><a href="{:url('Auth/access',['group_name'=>input('group_name') ,'group_id'=> input('group_id')])}">Admin Panel Access Authorization</a></li>
                    <li class="active"><a href="javascript:;">Frontend Access Authorization</a></li>
                    <li><a href="{:url('Auth/user',array('group_name'=>input('group_name') ,'group_id'=> input('group_id')))}">User Authorization</a></li>

                </ul>
            </div>
            <div class="col-xs-2 text-right">
                    <select name="group" class="form-control">
                        {volist name="auth_group" id="vo"}
                        {eq name="vo['id']" value="$this_group['id']"}
                        <option value="{:url('Auth/accessuser',['group_id'=>$vo['id'],'group_name'=>$vo['title']])}" selected>{$vo.title}</option>
                        {else}
                        <option value="{:url('Auth/accessuser',['group_id'=>$vo['id'],'group_name'=>$vo['title']])}" >{$vo.title}</option>
                        {/eq}
                        {/volist}
                    </select>
            </div>
        </div>

		<div class="node-list">
			<!-- 访问授权 -->
			<div class="tab-pane in">
				<form action="{:url('')}" enctype="application/x-www-form-urlencoded" method="post" class="form-horizontal auth-form ajax-form">

					{volist name="node_list" id="node" }
						<dl class="checkmod">
							<dt class="hd">
                                <input class="auth_rules rules_all" id="auth-rules-{$node.name}" type="checkbox" name="rules[]" value="
                                    {php} 
                                    if(!empty($main_rules)) {
                                        echo $main_rules[$node['url']];
                                    }{/php}
                                    ">
                                <label for="auth-rules-{$node.name}">{$node.alias} Node</label>
							</dt>
							<dd class="bd">
								{present name="node['child']"}
								{volist name="node['child']" id="child" }
                                    <div class="rule_check">
                                        <div>
                                            <input class="auth_rules rules_row" id="auth-rules-{$child.id}" type="checkbox" name="rules[]" value="{$child.id}"/>
                                            <label for="auth-rules-{$child.id}">{$child.title}</label>
                                            <a class="btn btn-info btn-mini" data-toggle="modal" data-remote="{:url('addnode',['id'=>$child['id'],'group_id'=>input('group_id')])}">
                                                {:lang("Edit")}
                                            </a>
                                            <a class="btn btn-danger btn-mini" data-toggle="del" data-href="{:url('deletenode',array('id'=>$child['id']))}">
                                                {:lang("Delete")}
                                            </a>
                                        </div>
                                       {notempty name="child['operator']"}
                                           <span class="divsion">&nbsp;</span>
                                           <div class="child_row">
                                               {volist name="child['operator']" id="op"} 
                                                <input class="auth_rules" id="auth-child-rules-{$auth_rules[$op['url']]}" type="checkbox" name="rules[]" value="{$auth_rules[$op['url']]}"/>{$op.title}
                                                <label for="auth-child-rules-{$auth_rules[$op['url']]}"></label>
                                               {/volist}
                                           </div>
                                        {/notempty}
				                    </div>
								{/volist}
								{/present}
                                <a class="btn btn-success btn-sm btn-mini" data-remote="{:url('addnode',array('module'=>$node['name'],'group_id'=>input('group_id')))}" data-toggle="modal">+ New Node</a>
							</dd>
						</dl>
					{/volist}

			        <input type="hidden" name="group_id" value="{$this_group.id}" />
                    <button type="submit" class="btn btn-success submit-btn">Confirm</button>
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">Back</button>
			    </form>
			</div>

		</div>
	</div>

{/block}
{block name="script"}
<script>
    $(function(){

        var rules = [{$this_group.rules}];
        $('.auth_rules').each(function(){
            if( $.inArray( parseInt(this.value,10),rules )>-1 ){
                $(this).prop('checked',true);
            }
            if(this.value==''){
                $(this).closest('span').remove();
            }
        });

        //全选节点
        $('.rules_all').on('change',function(){
            $(this).closest('dl').find('dd').find('input').prop('checked',this.checked);
        });
        $('.rules_row').on('change',function(){
            $(this).closest('.rule_check').find('.child_row').find('input').prop('checked',this.checked);
        });

        $('select[name=group]').change(function(){
            location.href = this.value;
        });

        $('[data-toggle="del"]').click(function(){
            var sure = confirm('确认删除该节点？（该操作不可逆）');
            if(sure){
                var self = $(this);
                $.get(self.data('href'),function(msg){
                    handle_ajax(msg);
                });
            }
        });
    })
</script>
{/block}
