{extend name="common/main" /}
<!-- 管理员{:lang("_USER_GROUP_")}新增和编辑页面 -->
{block name="body"}
	<div class="main-title">
		<h2>{$title}</h2>
	</div>

    <div class="with-padding">
        <form class="form-horizontal ajax-form" action="{:url('admin/Auth/editGroup')}" method="post">
            <input type="hidden" name="id" value="{$auth_group.id|default=0}" />
            <div class="form-item builder_item">
                <label for="auth-title" class="item-label">User Group</label>
                <div class="controls">
                    <input id="auth-title" type="text" name="title" class="text input-large form-control form-input-width" value="{$auth_group.title|default=''}"/>
                </div>
            </div>
            <div class="form-item builder_item">
                <label for="auth-description" class="item-label">Short Description</label>
                <div class="controls">
                    <textarea id="auth-description" class="form-control form-text-area-size" type="text" name="description">{$auth_group.description|default=''}</textarea>
                </div>
            </div>
            <div class="form-item builder_item">
                <button type="submit" class="btn submit-btn" target-form="form-horizontal">Confirm</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">Back</button>
            </div>
        </form>
    </div>
{/block}
{block name="script"}
{/block}
