{extend name="../../admin/view/common/main"/}

{block name="style"}
{include file="admin/common/base"}
<script src="__STATIC__/common/lib/zui/lib/chart/zui.chart.min.js"></script>
{/block}
{block name="body"}
<section class="console-section clearfix ">


	<div class="index-content-box">
		<div class="sortblock clearfix">
			<section class="connectedSortable">

				<div class="">
					<div class="box-header count_common_box">
			            <span class="caption-subject">
			                Statistical Data
			            </span>
					</div>
					<div class="">
						<section class="index_order_totle_section row clearfix">
							<div class="order_totle_item">
								<div class="totle_item  card">
									<div class="totle_title">Total Revenue (Points)</div>
									<div class="totle_num"><span class="yuan">LP</span> {$price_total['all_sum']}</div>
								</div>
							</div>
							<div class="order_totle_item">
								<div class="totle_item card">
									<div class="totle_title">Monthly Revenue (Points)</div>
									<div class="totle_num"><span class="yuan">LP</span> {$price_total['month_sum']}</div>
								</div>
							</div>
							<div class="order_totle_item">
								<div class="totle_item  card">
									<div class="totle_title">Weekly Revenue (Points)</div>
									<div class="totle_num"><span class="yuan">LP</span> {$price_total['week_sum']}</div>
								</div>
							</div>
							<div class="order_totle_item">
								<div class="totle_item card">
									<div class="totle_title">Today Revenue (Points)</div>
									<div class="totle_num"><span class="yuan">LP</span> {$price_total['day_sum']}</div>
								</div>
							</div>
							<div class="order_totle_item">
								<div class="totle_item card">
									<div class="totle_title">No. of Order Today</div>
									<div class="totle_num"> {$order.today}</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="box card">
					<div class="box-header">
						<span class="caption-subject">Quick Access</span>
					</div>
					
					<div class="box-body clearfix">
						<div class="shortcut clearfix">
							<div class="item text-center">
								<a href="{:url('admin.config/index')}">
									<i class="fa fa-cogs"></i>
									<p>Configuration</p>
								</a>
							</div>
							<div class="item text-center">
								<a href="{:url('admin.category/lists')}">
									<i class="fa fa-th-list"></i>
									<p>Category Management</p>
								</a>
							</div>
							<div class="item text-center">
								<a href="{:url('admin.attribute/lists')}">
									<i class="fa fa-check-square"></i>
									<p>Attribute Management</p>
								</a>
							</div>
							<div class="item text-center">
								<a href="{:url('admin.goods/lists')}">
									<i class="fa fa-th-large"></i>
									<p>Product Management</p>
								</a>
							</div>
							<div class="item text-center">
								<a href="{:url('admin.orders/lists')}">
									<i class="fa fa-newspaper-o"></i>
									<p>Order Management</p>
								</a>
							</div>
							<div class="item text-center">
								<a href="{:url('micro/admin.mobile/lists')}">
									<i class="fa fa-files-o"></i>
									<p>Custom Page</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box card">
					<div class="box-header">
						<span class="caption-subject">Statistical Charts</span>
					</div>
					<div class="box-body">
						<div class="muu-chart">
							<div class="hidden" id="today_total">{$today_total}</div>
							<div class="hidden" id="week_total">{$week_total}</div>
							<div class="hidden" id="month_total">{$month_total}</div>
							<div class="hidden" id="year_total">{$year_total}</div>
							<div class="chart-tap">
								<button class="btn btn-info" data-role="today_total">Today</button>
								<button class="btn btn-default" data-role="week_total">This Week</button>
								<button class="btn btn-default" data-role="month_total">This Month</button>
								<button class="btn btn-default" data-role="year_total">This Year</button>
							</div>
							<div class="chart">
								<canvas id="ordersChart" style="height:355px"></canvas>
							</div>
						</div>
					</div>
				</div>

				<div class="box card" data-id="count_active_month">
					<div class="box-header count_common_box">
						<span class="caption-subject">Product Sales Ranking</span>
					</div>
					<div class="box-body">
						<div class="lists">
							<table class="table">
								<tbody>
								<tr>
									<td>Rank</td>
									<td style="text-align: left;">Item</td>
									<td style="width: 60px;text-align: center;">Qty</td>
								</tr>

								{volist name="goods_list" key="key" id="vo"}
								<tr>
									<td>
										<span class="num num{$key}">{:intval($key)}</span>
									</td>
									<td style="text-align: left;">
										<a href="">
											<div class="title text-ellipsis" style="width: 400px;">{$vo['title']}</div>
										</a>
									</td>
									<td style="width: 60px;text-align: center;">
										<span class="sales">{$vo['sales']}</span>
									</td>
								</tr>
								{/volist}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<input type="hidden" name="check_cloud_version" value="{:url('admin/module/cv')}" />
<script>
	$(function(){
		var today_total = $.parseJSON($('#today_total').text());
		var week_total = $.parseJSON($('#week_total').text());
		var month_total = $.parseJSON($('#month_total').text());
		var year_total = $.parseJSON($('#year_total').text());
		//默认加载
		var data = {
			// labels 数据包含依次在X轴上显示的文本标签
			labels: today_total.time,
			datasets: [{
				// 数据集名称，会在图例中显示
				label: "Today Orders",
				// 颜色主题，可以是'#fff'、'rgb(255,0,0)'、'rgba(255,0,0,0.85)'、'red' 或 ZUI配色表中的颜色名称
				// 或者指定为 'random' 来使用一个随机的颜色主题
				color: "#47d1af",
				// 也可以不指定颜色主题，使用下面的值来分别应用颜色设置，这些值会覆盖color生成的主题颜色设置
				// fillColor: "rgba(220,220,220,0.2)",
				// strokeColor: "rgba(220,220,220,1)",
				// pointColor: "rgba(220,220,220,1)",
				// pointStrokeColor: "#fff",
				// pointHighlightFill: "#fff",
				// pointHighlightStroke: "rgba(220,220,220,1)",

				// 数据集
				data: today_total.count
			}]
		};
		var options = {}; // 图表配置项，可以留空来使用默认的配置
		//var myLineChart = $("#ordersChart").lineChart(data, options);

		$('[data-role="today_total"]').click(function(){
			$('.chart-tap .btn').removeClass('btn-info');
			$(this).addClass('btn-info');
			data.labels = today_total.time;
			data.datasets[0].label = 'Orders Today';
			data.datasets[0].data = today_total.count;
			$('#ordersChart').remove();
			$('.chart').html('<canvas id="ordersChart" style="height:355px"></canvas>');
			var myLineChart = $("#ordersChart").lineChart(data, options);
		});

		$('[data-role="week_total"]').click(function(){
			$('.chart-tap .btn').removeClass('btn-info');
			$(this).addClass('btn-info');
			data.labels = week_total.time;
			data.datasets[0].label = 'Orders This Week';
			data.datasets[0].data = week_total.count;
			$('#ordersChart').remove();
			$('.chart').html('<canvas id="ordersChart" style="height:355px"></canvas>');
			var myLineChart = $("#ordersChart").lineChart(data, options);
		});

		$('[data-role="month_total"]').click(function(){
			$('.chart-tap .btn').removeClass('btn-info');
			$(this).addClass('btn-info');
			data.labels = month_total.time;
			data.datasets[0].label = 'Orders This Month';
			data.datasets[0].data = month_total.count;
			$('#ordersChart').remove();
			$('.chart').html('<canvas id="ordersChart" style="height:355px"></canvas>');
			var myLineChart = $("#ordersChart").lineChart(data, options);
		});

		$('[data-role="year_total"]').click(function(){
			$('.chart-tap .btn').removeClass('btn-info');
			$(this).addClass('btn-info');
			data.labels = year_total.time;
			data.datasets[0].label = 'Orders This Year';
			data.datasets[0].data = year_total.count;
			$('#ordersChart').remove();
			$('.chart').html('<canvas id="ordersChart" style="height:355px"></canvas>');
			var myLineChart = $("#ordersChart").lineChart(data, options);
		});
		// 延迟一点再加载
		setTimeout(function(){
			$('[data-role="today_total"]').click();
		},500);
	});
</script>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/main.min.js?v={$module.version|default=''}"></script>
{/block}
