{extend name="common/main"/}

{block name="body"}
<div class="message-content-list-section">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>Message Content Management</h2>
    </div>
    <div class="button-box row clearfix">

        <div class="col-md-8">
            <button class="btn btn-success ajax-post confirm" url="{:url('contentStatus', ['status'=> 1])}" target-form="ids">
                Enable
            </button>
            <button class="btn btn-warning ajax-post confirm" url="{:url('contentStatus', ['status'=> 0])}" target-form="ids">
                Disable
            </button>
            <button class="btn btn-danger ajax-post confirm" url="{:url('contentStatus', ['status'=> -1])}" arget-form="ids">
                Delete
            </button>
        </div>
        <!-- 高级搜索 -->
        <div class="search-form col-md-4">
            <form method="get" class="form-horizontal">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" value="{$keyword}">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table with-padding">
        {notempty name="lists.data"}
        <table class="table table-bordered table-striped muu-table">
            <thead>
            <tr>
                <th class="row-selected row-selected">
                    <input type="checkbox" class="check-all" id="check-all">
                    <label for="check-all"></label>
                </th>
                <th>Title</th>
                <th>Description</th>
                <th>Create Time</th>
                <th>Update Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {volist name="lists.data" id="vo"}
                <tr>
                    <td>
                        <input class="ids" id="type_{$vo.id}" type="checkbox" name="ids[]" value="{$vo.id}"/>
                        <label for="type_{$vo.id}"></label>
                    </td>
                    <td>{$vo.title}</td>
                    <td>{$vo.description}</td>
                    <td>{$vo.create_time_str}</td>
                    <td>{$vo.update_time_str}</td>
                    <td>
                        {if $vo.status == 1}
                        <span class="label label-success">{$vo.status_str}</span>
                        {/if}
                        {if $vo.status == 0}
                        <span class="label label-warning">{$vo.status_str}</span>
                        {/if}
                    </td>
                    <td>
                        {if $vo.status == 1}
                        <a class="btn btn-sm btn-warning ajax-post" href="{:url('contentStatus',['status'=>0, 'ids'=>$vo['id']])}">Disable</a>
                        {/if}
                        {if $vo.status == 0}
                        <a class="btn btn-sm btn-success ajax-post" href="{:url('contentStatus',['status'=>1, 'ids'=>$vo['id']])}">Enable</a>
                        {/if}
                        <a class="btn btn-sm btn-danger ajax-post" href="{:url('contentStatus',['status'=>-1, 'ids'=>$vo['id']])}" data-confirm="Are you sure you want to delete this?">Delete</a>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
        {else/}
        {include file="common/_empty"/}
        {/notempty}
    </div>

    <!-- 分页 -->
    <div class="page">
        {:htmlspecialchars_decode($pager)}
    </div>
    <!-- /分页-->
</div>
{/block}
{block name="script"}
<script>

</script>   
{/block}