{extend name="common/main"/}

{block name="body"}
<div class="main-title">
    <h2>User Details</h2>
</div>

<section class="member-detail-section row clearfix">
    <div class="base col-sm-3">
        <div class="base-box card">
            <div class="avatar">
                <img class="avatar-img" src="{$member.avatar128}" />
            </div>
            <div class="uid">uid: {$member.uid}</div>
            <div class="nickname">
                <span class="">
                    {$member.nickname}
                </span>
            </div>
            <div class="message">
                <a type="button" class="btn btn-block btn-lg btn-success {if !check_auth('admin/Message/send')}disabled{/if}" data-name="sendMessageModal" data-iframe="{:url('admin/Message/send',['to_uid' => $member['uid']])}" data-toggle="modal" data-size="lg" data-height="600px">Send Message</a>
            </div>
            <div class="other-info">
                <div class="form-file">
                    <div class="form-label">Username</div>
                    <div class="form-value">
                        <span class="">
                            {$member.username}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Email</div>
                    <div class="form-value">
                        <span class="">
                            {$member.email}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Phone</div>
                    <div class="form-value">
                        <span class="">
                            {$member.mobile}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Gender</div>
                    <div class="form-value">
                        <span class="">
                            {$member.sex_str}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-files-box col-sm-9">
        <div class="form-files-box card">
            <!-- Basic Settings
 start -->
            <div class="form-file header">Basic Information</div>
            <div class="form-files">
                <div class="form-file">
                    <div class="form-label">Registration Time</div>
                    <div class="form-value">
                        <span class="">
                            {$member.create_time_friendly_str}
                        </span>
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Registration IP</div>
                    <div class="form-value">
                        <span class="">
                            {$member.reg_ip}
                        </span>
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Registration Channel</div>
                    <div class="form-value">
                        <span class="">
                            {$member.reg_channel_str}
                        </span>
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Login Count</div>
                    <div class="form-value">
                        <span class="">
                            {$member.login}
                        </span>
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Last Login Time</div>
                    <div class="form-value">
                        <span class="">
                            {$member.last_login_time_friendly_str}
                        </span>
                    </div>
                </div>
                <div class="form-file">
                    <div class="form-label">Last Login IP</div>
                    <div class="form-value">
                        <span class="">
                            {$member.last_login_ip}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {notempty name="member.expend"}
        <div class="form-files-box card">
            <div class="form-file header">More Information</div>
            {volist name="member.expend" id="vo"}
            <div class="form-files">
                <div class="form-file">
                    <div class="form-label">{$vo.alias}</div>
                    <div class="form-value">
                        <span class="margin-left">
                            {$vo.data}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
            </div>
            {/volist}
        </div>
        {/notempty}

        <div class="form-files-box card">
            <div class="form-file header">User Score</div>
            {volist name="member.score" id="vo"}
            <div class="form-files">
                <div class="form-file">
                    <div class="form-label">{$vo.title}</div>
                    <div class="form-value">
                        <span class="margin-left">
                            {$vo.value} {$vo.unit}
                        </span>
                    </div>
                    <div class="form-edit">
                        
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</section>

{/block}